
/* Quando se utiliza o grid-auto-rows ou grid-auto-columns, NÃO se pode trabalhar com números negativos */

@charset "UTF-8";
		@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
	
	
		html {
			font-size: 62.5%;
			height: 90%;
			
		}

        /*Início da modificação da scrollbar (barra de rolagem)*/
		/*Firefox*/
		*{
			scrollbar-width: 12px;
			scrollbar-color: #b054c2 #621643 /*A primeira cor é do botão e a segunda do fundo*/		
		}
		
		/*Chrome, Edge e Safari*/
		::-webkit-scrollbar{
			width: 1.2rem;
		}
		
		::-webkit-scrollbar-track{
			background: #621643;
		}
		
		::-webkit-scrollbar-thumb{
			background-color: #b054c2;
			border-radius: 1.3rem;
			o
		}   
		/*Fim da modificação da scrollbar (barra de rolagem)*/
	
		body{    
			font-family: "Montserrat";
			font-size: clamp(1.3rem, 2vw, 2.6rem); /*O clamp() no font-size recebe 3 valores. O primeiro é MIN, o segundo é o PREFERIDO e o terceiro é o MAX.*/
			color: #fff;
			margin: auto;
		}
	
		body.gradiente {    
			display: block;
			align-items: center;
			justify-content: center;    
			width: 98vw;  
			background: linear-gradient(45deg,#b054c2,#621643);
			background-size: 300% 300%;
			animation: gradient-animation 8s ease infinite;
		}
				
		@keyframes gradient-animation {
			0% {
			background-position: 0% 50%;
			}
			50% {
			background-position: 100% 50%;
			}
			100% {
			background-position: 0% 50%;
			}
		}
	
		.container>* {
			/* min-height: 10rem;
			border-radius: 0.4rem; */		
			display: flex; /* Preciso alterar o display nas media-queries*/
			align-items: center;			
		}
	
		.container {
			display: grid;
			grid-template-rows: repeat(7, auto);
			grid-template-columns: repeat(2, auto);
			gap: 1rem;
			height: 75vh;
		}
	
		header {		
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-start;
			font-family: 'Montserrat', sans-serif;
			color: #fff;		
		}

header > a > img{
    height: 13rem;
}

#mostrarMenu, #ocultarMenu{
    border: none;
    background: none;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    padding: 0px 5px;
    cursor: pointer;
    display: none;		
}	


footer{
    height: 5vh;             
            
}

section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
}

main{    
    display: grid;
    
    justify-items: center;
    align-items: center;
    height: 71vh;     
    width: 90vw;
    color: #000;
    flex: 1;
    margin: auto;
}

.texto{
    display: grid;
    grid-template-rows: repeat(1, auto); 
    grid-template-columns: 60% 40%; 
    justify-content: space-around;
    align-items: center;
    float: left;
    height: 68vh; 
    color: #fff;    
    background-color: transparent; /* Background fictício. No exemplo do Canva está transparente.*/
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 2rem;
    line-height:1.5;
    text-align: left;
    font-size: 2.6rem;
    font-family: 'Montserrat', sans-serif;
}

#asterisco{
    float: right;
    font-size: 5.8rem;
    color: #D1328E;
    text-shadow: 1px 1px 2px #fff;
}

.texto > h2{
    width: 26rem;
}

.texto > p{
    font-size: 1.7rem;
}

#inicial{ /*Colocado apenas para exemplo visual.*/
    float: right;
    /* width: 50vw; */ /*Largura fictícia.*/
    margin-top: 0.5rem;    
    border: none;
    
}

.logo{    /*Colocado apenas para exemplo visual.*/
    float: left;
    margin: 0.2rem 0.5rem;    
}

nav {	    
    display: flex;		
    justify-content: flex-end;
        
}    

nav a{
    margin: 1rem 0.5rem;
    font-size: clamp(1.3rem, 2vw, 1.8rem);
    color: #fff;
    text-decoration: none;    
}    

nav a:hover{
    text-decoration: underline;
    font-weight: bolder;
}

#menu a{
    margin: 1rem 0.5rem;
    font-size: clamp(1.3rem, 2vw, 1.8rem);
    color: #fff;
    text-decoration: none;    
}    

#menu a:hover{
    text-decoration: underline;
    font-weight: bolder;
}	

.both {
    display: flex;
    position: absolute;
    top: 85vh;
}


input[type=text] {    
    width: 13rem;
    box-sizing: border-box;
    border: 0.2rem solid #000;
    border-radius: 2rem;
    font-size: clamp(1rem, 1.3vw, 1.6rem); /*O clamp() no font-size recebe 3 valores. O primeiro é MIN, o segundo é o PREFERIDO e o terceiro é o MAX.*/
    background-color: white;
    background-image: url('https://www.w3schools.com/howto/searchicon.png');
    background-position: 1rem 1rem; 
    background-repeat: no-repeat;
    padding: 1.2rem 2rem 1.2rem 4rem;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin-left: 1.3rem;
}

input[type=text]:focus {
    margin-left: 0.5rem;
    width: 71vw
}

h1#d_titulo{    
    font-size: 2.5rem;
    text-align: center;
    padding: 1rem;
    color: #000;
    text-shadow: 0.1rem 0.1rem 0.3rem #fff;    
}

footer{    
    display: flex; 
    justify-content: end;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    padding: 100px 0;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}
label {
    font-size: 18px;
    margin-right: 10px;
}
input[type="text"] {
    padding: 5px;
    font-size: 16px;
    width: 250px;
}
button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
#resultado {
    font-size: clamp(1.3rem, 2vw, 2.1rem); /*O clamp() no font-size recebe 3 valores. O primeiro é MIN, o segundo é o PREFERIDO e o terceiro é o MAX.*/
    color: #fff;
    margin-top: 2rem;
    height: 30rem; /* Altura máxima da caixa de texto */
    overflow-y: auto; /* Adicionar barra de rolagem vertical quando necessário */
}
