@charset "UTF-8";

*{    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
}

header, footer{
    height: 5vh;    
    width: 100vw;
    background-color: #ccc;  
          
}

section{
    display: flex;
    flex-direction: row;
}

main{
    height: 90vh;    
    background-color: #999;
    color: #000;
    flex: 1;
}

.texto{
    float: left;
    height: 80vh;
    width: 26vw;
    background-color: goldenrod; /* Background fictício. No exemplo do Canva está transparente.*/
    margin: 5px;
    padding: 5px;
    border-radius: 20px;
    line-height:1.5;
	text-align: justify;
}

#inicial{ /*Colocado apenas para exemplo visual.*/
    float: right;
    height: 200px; /*Altura fictícia.*/
    width: 400px; /*Largura fictícia.*/
    margin: 10% 20%;
    padding: 5px; 
    border: 5px solid #000;
    border-radius: 20px;
}

nav{    
    margin: 0;      
    display:  flex;  /* Coloca os elementos-filhos um ao lado do outro */
    align-items:  center;  /* Alinha os elementos filhos ao centro verticalmente */
    justify-content: center; /* Alinha os elementos filhos ao centro horizontalmente */  
}

.logo{    /*Colocado apenas para exemplo visual.*/
    float: left;
    margin: 2px 5px;
    padding: 2px 5px; 
    border: 2px solid #000;
    border-radius: 20px; 
}

nav ul{
    float: right;
    list-style: none;
    margin: 0 10px;

}

nav li{	
  	display: inline-block;
    margin: 5px 0;
    padding: 0 5px; /*Espaçamento entre os ítens do menu*/
}

.both {
    display: flex;
    position: absolute;
    top: 86vh;
}

input[type=text] {    
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #000;
    border-radius: 20px;
    font-size: 1em;
    background-color: white;
    background-image: url('https://www.w3schools.com/howto/searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    margin-left: 5px;
    width: 71vw
}

.discografia {
    margin: auto;    
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 13px;
    justify-content: center;
    padding: 13px;
    box-shadow: 0 0 2px 2px rgb(0, 0, 0);
    border-radius: 13px; 

}

.discos {
    background: goldenrod;
    color: #000;
    padding: 8px 8px 50px;
    box-shadow: 0 0 2px 2px rgb(99, 98, 98);   
    border-radius: 13px;     
}

h1#d_titulo{    
    text-align: center;
    padding: 10px;
    color: #000;
    text-shadow: 1px 1px 3px #fff;    
}

footer nav{
    justify-content: flex-end; /* Alinha os elementos filhos ao centro horizontalmente */  
}
